{% load static %}
{% for album in albums %}
        <article>
            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <header>
                            <hr>
                            {#éjout d'espace de nom pour pouvoir utiliser plusieurs fois detail#}
                            <a href="{% url 'store:detail' album_id=album.id %}">
                                <h2 class="intro-text text-center">Titre de l'album
                                    <strong>{{ album.title }}</strong>
                                </h2>
                            </a>
                            <hr>
                        </header>
                        <a href="{% url 'store:detail' album_id=album.id %}">
                            {% if album.picture %}
                                <img class="img-responsive img-border img-left" src="{% static album.picture%}" alt="" width="300px">
                            {% endif %}
                        </a>
                            <hr class="visible-xs">
                        <p>Sarbacane est le septième album studio de Francis Cabrel. Sorti en 1989, l'album s'est écoulé à plus de 2 000 000 d'exemplaires en France3 et a été certifié disque de diamant.

                            Cet album est l'un des plus célèbres de Francis Cabrel, tant par l'importance des singles qui résonnent encore aux oreilles vingt ans plus tard (Animal, Sarbacane, C'est écrit et Tout le monde y pense) que pour les thèmes des chansons, notables pour quelques-unes d'entre elles : il rend hommage à sa fille dans Sarbacane, et dans Dormir debout rend hommage à Daniel Balavoine, disparu trois ans auparavant.

                            La chanson Rosie est une reprise en français d'une chanson de Jackson Browne qui figure sur l'album Running on Empty.

                            Aux Victoires de la musique 1990, Francis Cabrel repartira avec trois récompenses : Meilleur artiste, Meilleur album et Meilleur spectacle musical de l'année 1989.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
{% endfor %}
